<div>
    <form action="">
        <div class="col-md-6">
            <div>
                <label for="">Category</label>
                <input type="text" class="form-control" id="category" #category>
            </div>
            <div>
                <label for="">Title</label>
            <input type="text" class="form-control" id="title" #title>
            </div>
            <div>
                <label for="">Size</label>
            <input type="text" class="form-control" id="size" #size>
            </div>
            <div>
                <label for="">Price</label>
            <input type="text" class="form-control" id="price" #price>
            </div>
            <div>
                <label for="">Description</label>
                <input type="text" class="form-control" id="description" #description>
            </div>
        
        </div>
            <div class="row">
                <div class="col-6" *ngFor = "let item of itemsArray" >               
                    <div>
                        <p>{{item.id}}</p>

                        <p>{{item.title}}</p>
                        <p>{{item.category}}</p>
                        <p>{{item.description}}</p>
                    </div>               
                </div>
            </div>
        
            
        
    </form>

</div>