<div>
    <form action="">
        <div class="row">
            <div>
                <label for="">Category</label>
                <input type="text" class="form-control" id="category" #category>
            </div>
            <div>
                <label for="">Title</label>
            <input type="text" class="form-control" id="title" #title>
            </div>
            <div>
                <label for="">Size</label>
            <input type="text" class="form-control" id="size" #size>
            </div>
            <div>
                <label for="">Price</label>
            <input type="text" class="form-control" id="price" #price>
            </div>
            <div>
                <label for="">Description</label>
                <input type="text" class="form-control" id="description" #description>
            </div>
        
        </div>
        
        <div>
            <div>
                <ul *ngFor = "let item of items">
                    
                </ul>
            </div>
        </div>

    </form>

</div>